---
import Layout from '../components/Layout.astro';

const data = await  fetch("http://localhost:1337/api/allergeni/");
const response = await data.json();
let nomi = await response.data;
---

<Layout title="Locanda dal Barba">
    <main>
        {nomi.map((data)=>            
            <article class="scatola"> 
                <h3 class="pietanza">{data.attributes.tipo}</h3>
            </article>)}
        <br>
        <a href="/vegetariano">Menù vegetariano</a>
    </main>
</Layout>

<style>
    h1{
        text-align: center;
        background-image: linear-gradient(to right, red, yellow);
		-webkit-background-clip: text;
		color: transparent;
    }

    h2{
        text-align: center;
    }

</style>