---
import Layout from '../components/Layout.astro';
import Header from '../components/Header.astro';

const data = await  fetch("http://localhost:1337/api/allergeni/");
const response = await data.json();
let nomi = await response.data;
---

<Layout title="Locanda dal Barba">
    <Header />
    <main>
        <div class="esterno">
            <div class="interno">
                <a href="/vegetariano">
                    Menù vegetariano
                    <img src="/src/img/veg.png">
                </a>
            </div>
            <br>
            <div class="interno">
                <a href="/latticini">
                    <img src="/src/img/lattosio.png">
                    Senza Latticini
                </a>
            </div>
            <br>
            <div class="interno">
                <a href="/uova">
                    Senza Uova
                    <img src="/src/img/uova.png">
                </a>
            </div>
            <br>
            <div class="interno">
                <a href="/glutine">
                    <img src="/src/img/grano.png">
                    Senza glutine
                </a>
            </div>
            <br>
            <div class="interno">
                <a href="/gusci">
                    Senza guscio
                    <img src="/src/img/fruttaSecca.png">
                </a>
            </div>
        </div>
    </main>
</Layout>

<style>
    h1{
        text-align: center;
        background-image: linear-gradient(to right, red, yellow);
		-webkit-background-clip: text;
		color: transparent;
    }

    h2{
        text-align: center;
    }

    .esterno{
        
    }

    br{
        height: 5rem;
    }

    img{
        height: 75%;
        width: 100%;
    }

    .interno{
        display: flex;
        height: 25%;
    }

</style>