---
import Layout from '../components/Layout.astro';
---

<Layout title="Locanda dal Barba">
    <main>
        <h1>Menù del Giorno</h1>
    </main>
</Layout>

<style>
    h1{
        text-align: center;
        background-image: linear-gradient(to left, red, yellow);
		-webkit-background-clip: text;
		color: transparent;
    }
</style>