---
import Layout from '../components/Layout.astro';

const data = await fetch("http://localhost:1337/api/pietanze/");
const response = await data.json();
const name = response.data;
console.log(name);

---

<Layout title="Locanda dal Barba">
	<main>
		<!--<ul>
			{name.map((data)=> <li>{data.attributes.nome}</li>)}
		</ul>-->
		<section class="corpo">
			<ul class="lista">
				<li> <a href="/primi">Primi piatti </a></li>
				<li> <a href="/secondi">Secondi piatti </a></li>
				<li> <a href="/contorni">Contorni </a></li>
				<li> <a href="/menubambini">Menù bimbi </a></li>
				<li> <a href="/dolci">Dolci </a></li>
				<li> <a href="/bevande">Bevande </a></li>
			</ul>
			<ul class="lista">
				<li> <a href="/allergeni">Allergeni </a></li>
				<li> <a href="/giorno">Menù del Giorno </a></li>
			</ul>
		</section>
	</main>
</Layout>
<style>

	ul {
		list-style-type: decimal;
	}

	.lista{
		font-size: 30px;
		text-align: left;
	}

	.corpo{
		display: flex;
		justify-content: center;
	}

</style>