---
import Layout from '../components/Layout.astro';
---

<Layout title="Locanda dal Barba">
	<main>
		<h1 class="titolo">Benvenuto alla locanda dal Barba</h1>
		<section class="corpo">
			<ul class="lista">
				<li> <a href="">Primi piatti </a>
				<li> <a href="">Secondi piatti </a>
				<li> <a href="">Contorni </a>
				<li> <a href="">Pizze </a>
				<li> <a href="">Dolci </a>
				<li> <a href="">Bevande </a>
			</ul>
			<ul class="lista">
				<li> <a href="">Vendita </a>
				<li> <a href="">Allergeni </a>
				<li> <a href="">Menù del Giorno </a>
			</ul>
		</section>
	</main>
</Layout>
<style>
	.titolo{
		text-align: center;
		background-image: linear-gradient(to right, red, yellow);
		-webkit-background-clip: text;
		color: transparent;
	}	

	ul {
		list-style-type: decimal;
	}

	.lista{
		font-size: 30px;
		text-align: left;
	}

	.corpo{
		display: flex;
		justify-content: center;
	}

</style>