---
import Layout from '../components/Layout.astro';

const data = await  fetch("http://localhost:1337/api/pietanze/");
const response = await data.json();
let nomi = await response.data.filter(d => d.attributes.tipo==="vegetariano");
---

<Layout title="Locanda dal Barba">
    <main>
        <h1>Menù Vegetariano</h1>
        <div>
            {nomi.map((data)=>
            <article class="scatola"> 
                <h3 class="pietanza">{data.attributes.nome}</h3>
                <p>{data.attributes.prezzo}€</p>
            </article>)}
        </div>
    </main>
</Layout>

<style>
    h1{
        text-align: center;
        background-image: linear-gradient(to right, darkgreen, lightgreen);
		-webkit-background-clip: text;
		color: transparent;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .scatola{
        align-self: center;
        width: 50%;
        border: solid;
        border-width: 5px;
        color: black;
    }

    .pietanza{
        text-align: center;
        background-image: linear-gradient(to right, black, cyan);
		-webkit-background-clip: text;
		color: transparent;
    }
</style>