    <header>
    <div>
        <div class="immagine">
            <a href="/">
                <img src="/src/img/logo.png">
            </a>
        </div>
        <a class="bottone" href="/chiSiamo">
            <img src="/src/img/negozio.png">
        </a>
    </div>
    </header>

<style>
    header{
        height: 15rem;
        width: 100%;
        overflow: hidden;
        background-image: url("/src/img/header.png");
        background-size: cover;
    }

    div{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin-top: 23%;
    }

    .immagine{
        transform: rotate(45deg);
    }

    img{
        height: 100%;
    }

    a{
        height: 20%;
        width: 20%;
    }

    .bottone{
    text-align: center;
    display: flex;
    align-items: center;
  }

</style>