    <header>
    <a href="/">
      <img src="/src/img/logo.png">
    </a>
    <a class="bottone" href="/chiSiamo">Chi siamo</a>
    </header>

<style>
    header{
        display: flex;
        height: 5rem;
        width: 100%;
        justify-content: space-between;
        overflow: hidden;
    }

  img{
    height: 80%;
  }

    a{
        width: 20%;
    }

    .bottone{
    border: solid;
    border-width: 5px;
    border-color: rgb(178, 41, 44);
    text-align: center;
    display: flex;
    align-items: center;
    background-color: rgb(178, 41, 44);
  }

</style>